* text=auto

*.json text eol=lf
*.commit-map text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.toml.in text eol=lf
*.rs.in text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
